<div class="panel-body">
    <div class="list-group" ng-repeat="fact in model">
        <a href="#" class="list-group-item">
            <i class="fa fa-{{fact.type}} fa-fw"></i> {{fact.title}}
            <span class="pull-right text-muted small"><em>{{fact.text}}</em>
            </span>
        </a>
    </div>
    <!-- /.list-group -->
  <!--   <a href="#" class="btn btn-default btn-block">View All Alerts</a>  -->
</div>