<div>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Dashboard</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<div class="row">
		<stats model="state.stats.tariffStat"></stats>
		<stats model="state.stats.wholsaleStat"></stats>
		<stats model="state.stats.customerStat"></stats>
		<stats model="state.stats.brokerStat"></stats>

	</div>

	<!-- /.panel -->
	<div class="row">
		<div class="col-lg-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-clock-o fa-fw"></i> Timeline
				</div>
				<!-- /.panel-heading -->
				<timeline model="state.timeline"></timeline>
				<button type="button"
					class="btn btn-outline btn-primary btn-lg btn-block"
					ng-click="addRandomEntryTimeline()">Add random thing to
					timeline</button>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-8 -->
		<div class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-bell fa-fw"></i> Game Facts something
				</div>
				<!-- /.panel-heading -->
				<notifications model="state.gameFacts"></notifications>
				<button type="button"
					class="btn btn-outline btn-primary btn-lg btn-block"
					ng-click="updateGameFactsTime()">Update time</button>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->

			<chat></chat>
			<button type="button"
				class="btn btn-outline btn-primary btn-lg btn-block"
				ng-click="printMessages()">Print messages</button>
			<!-- /.panel .chat-panel -->
		</div>
		<!-- /.col-lg-4 -->
	</div>
	<!-- /.row -->
</div>
