<div class="panel-body">
	<ul class="timeline" ng-repeat="entry in model.entries">
		<li ng-class="$even ? '' : 'timeline-inverted'">
			<div class="timeline-badge" ng-class="entry.badge">
				<i class="fa fa-{{entry.type}}"></i>
			</div>
			<div class="timeline-panel">
				<div class="timeline-heading">
					<h4 class="timeline-title">{{entry.title}}</h4>
					<p>
						<small class="text-muted"><i class="fa fa-clock-o"></i>
							{{entry.time | date:'short'}} </small>
					</p>
				</div>
				<div class="timeline-body">
					<p>{{entry.text}}</p>
				</div>
			</div>
		</li>
	</ul>
</div>