<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Chat via Websocket</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-6 col-sm-12"
			ng-controller="WebsocketController">
			<div class="panel panel-default">
				<form ng-submit="addMessage()" name="messageForm">
					<input type="text" placeholder="Compose a new message..."
						ng-model="message" />
					<div class="info">
						<span class="count" ng-bind="max - message.length"
							ng-class="{danger: message.length > max}">140</span>
						<button ng-disabled="message.length > max || message.length === 0">Send</button>
					</div>
				</form>
				<hr />
			<!--  <p ng-repeat="message in messages | orderBy:'time':true"
					class="message">
					<time>{{message.time | date:'HH:mm'}}</time>
					<span ng-class="{self: message.self}">{{message.message}}</span>
				</p>-->	
				<p ng-repeat="message in state.messages | orderBy:'time':true"
					class="message">
					<time>{{message.time | date:'HH:mm'}}</time>
					<span ng-class="{self: message.self}">{{message.message}}</span>
				</p>
			</div>
		</div>
	</div> 
</div>