<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Game Manager</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->

	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">New Game Wizard</div>
				<!-- /.panel-heading -->

				<div class="panel-body" ng-controller="GameManagerCtrl">
					<div class="span12">
						<wizard on-finish="finishedWizard()">
							<wz-step title="game type">
  								<form role="form">
			                          <fieldset>
			                              <div class="form-group">
			                                  <label for="gameTypeSelect">Choose a game type:</label>
			                                  <select id="gameTypeSelect" class="form-control" ng-options="option.name for option in data.availableOptions track by option.id" ng-model="data.selectedOption">
			                                  </select>
			                              </div>
			                              <button type="submit" wz-next class="btn btn-outline btn-primary">Next</button>
			                          </fieldset>
                      			  </form>
							</wz-step>
							
							<wz-step title="bootstrap game settings" wz-disabled="{{data.selectedOption.name.indexOf('Simulation Game')!=-1}}">
								<button type="submit" wz-previous class="btn btn-outline btn-primary">Previous</button>
								<button type="submit" wz-next class="btn btn-outline btn-primary">Next</button>
							</wz-step> 
							
							<wz-step title="simulation game settings" wz-disabled="{{data.selectedOption.name.indexOf('Bootstrap Game')!=-1}}">
								<button type="submit" wz-previous class="btn btn-outline btn-primary">Previous</button>
								<button type="submit" wz-next class="btn btn-outline btn-primary">Next</button>
							</wz-step> 
													 
							<wz-step title="common settings (optional)">
								<button type="submit" wz-previous class="btn btn-outline btn-primary">Previous</button>
								<button type="submit" wz-next class="btn btn-outline btn-primary">Next</button>
							</wz-step>							 
							
						
						</wizard>

					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->
	</div>
	
	                    <div class="col-lg-6">
                        <h1>Disabled Form States</h1>
                        <form role="form">
                            <fieldset disabled>
                                <div class="form-group">
                                    <label for="disabledSelect">Disabled input</label>
                                    <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="disabledSelect">Disabled select menu</label>
                                    <select id="disabledSelect" class="form-control">
                                        <option>Disabled select</option>
                                    </select>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">Disabled Checkbox
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-primary">Disabled Button</button>
                            </fieldset>
                        </form>
                        <h1>Form Validation States</h1>
                        <form role="form">
                            <div class="form-group has-success">
                                <label class="control-label" for="inputSuccess">Input with success</label>
                                <input type="text" class="form-control" id="inputSuccess">
                            </div>
                            <div class="form-group has-warning">
                                <label class="control-label" for="inputWarning">Input with warning</label>
                                <input type="text" class="form-control" id="inputWarning">
                            </div>
                            <div class="form-group has-error">
                                <label class="control-label" for="inputError">Input with error</label>
                                <input type="text" class="form-control" id="inputError">
                            </div>
                        </form>
                        <h1>Input Groups</h1>
                        <form role="form">
                            <div class="form-group input-group">
                                <span class="input-group-addon">@</span>
                                <input type="text" class="form-control" placeholder="Username">
                            </div>
                            <div class="form-group input-group">
                                <input type="text" class="form-control">
                                <span class="input-group-addon">.00</span>
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-eur"></i>
                                </span>
                                <input type="text" class="form-control" placeholder="Font Awesome Icon">
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-addon">$</span>
                                <input type="text" class="form-control">
                                <span class="input-group-addon">.00</span>
                            </div>
                            <div class="form-group input-group">
                                <input type="text" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>