<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Example visualizations</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->

	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">Chart</div>
				<!-- /.panel-heading -->

				<div class="panel-body" ng-controller="VisualizerChartCtrl">
					<div class="span12">
						<input ng-model="chartConfig.title.text">
						<button ng-click="addSeries()">Add Series</button>
						<button ng-click="addPoints()">Add Points to Random
							Series</button>
						<button ng-click="removeRandomSeries()">Remove Random
							Series</button>
						<button ng-click="swapChartType()">Line/Bar</button>
						<button ng-click="toggleLoading()">Loading?</button>
					</div>
					<highchart id="chart1" config="chartConfig"></highchart>
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
</div>